/* here you can put your own css to customize and override the theme */

/***
Rounded Portlets
***/
/*
.portlet {
	border-radius: 4px !important;
}

.portlet .portlet-title {
	border-radius: 4px 4px 0px 0px !important;
}

.portlet .portlet-body,
.portlet .portlet-body .form-actions  {
	border-radius: 0px 0px 4px 4px !important;
}
*/

table#list-doctor tr th, table#list-doctor tr td { 
                                                padding-right: 3%;
                                          }
table#list-doctor {
                    border: 1px solid #e1e1e1 !important;
                  }
.header_form {
              font-size: 24px !important;

             }
div.sum {
          border: 1px solid #e1e1e1 !important;
              width: 43%;
         }

div.ltr-area input { direction:ltr !important}

