/*! stream - v2.4.0 - 31-12-2015 */
@font-face {
  font-family: 'picon';
  src: url('../../fonts/picon/picon?0.7.eot');
  src: url('../../fonts/picon/picon.eot?0.7#iefix') format('embedded-opentype'), url('../../fonts/picon/picon.woff?0.7') format('woff'), url('../../fonts/picon/picon.ttf?0.7') format('truetype'), url('../../fonts/picon/picon.svg?0.7#picon') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'picon';
    src: url('../font/picon.svg#picon') format('svg');
  }
}
*/
[class^="picon-"]:before,
[class*=" picon-"]:before {
  font-family: "picon";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
.picon-title:before {
  content: '\e800';
}
/* '' */
.picon-video:before {
  content: '\e801';
}
/* '' */
.picon-catalog:before {
  content: '\e802';
}
/* '' */
.picon-map:before {
  content: '\e803';
}
/* '' */
.picon-image:before {
  content: '\e804';
}
/* '' */
.picon-woo:before {
  content: '\e805';
}
/* '' */
.picon-wordpress:before {
  content: '\e806';
}
/* '' */
.picon-staff:before {
  content: '\e807';
}
/* '' */
.picon-posts:before {
  content: '\e808';
}
/* '' */
.picon-share:before {
  content: '\e809';
}
/* '' */
.picon-revslider:before {
  content: '\e810';
}
/* '' */
.picon-places:before {
  content: '\e811';
}
/* '' */
.picon-code:before {
  content: '\e812';
}
/* '' */
.picon-form:before {
  content: '\e813';
}
/* '' */
.picon-facebook:before {
  content: '\e814';
}
/* '' */
.picon-twitter:before {
  content: '\e815';
}
/* '' */
.picon-event:before {
  content: '\e816';
}
/* '' */
.picon-testimonial:before {
  content: '\e817';
}
/* '' */
.picon-quote:before {
  content: '\e818';
}
/* '' */
.picon-awesome:before {
  content: '\e819';
}
/* '' */
.picon-icon:before {
  content: '\e820';
}
/* '' */
.picon-hours:before {
  content: '\e821';
}
/* '' */
.picon-imagetext:before {
  content: '\e822';
}
/* '' */
.picon-icontext:before {
  content: '\e823';
}
/* '' */
.picon-slider:before {
  content: '\e824';
}
/* '' */
.picon-chart:before {
  content: '\e825';
}
/* '' */
.picon-gallery:before {
  content: '\e826';
}
/* '' */
.picon-ribbon:before {
  content: '\e827';
}
/* '' */
.picon-separator:before {
  content: '\e828';
}
/* '' */
.picon-text:before {
  content: '\e829';
}
/* '' */
.picon-galleries:before {
  content: '\e830';
}
/* '' */
.picon-button:before {
  content: '\e831';
}
/* '' */
.picon-tab:before {
  content: '\e832';
}
/* '' */
.picon-theme-options:before {
  content: '\e833';
}
/* '' */
.picon-newsticker:before {
  content: '\e834';
}
/* '' */
.picon-numbers:before {
  content: '\e835';
}
/* '' */
.picon-postsgroup:before {
  content: '\e836';
}
/* '' */
.picon-sidebar:before {
  content: '\e837';
}
/* '' */
.picon-anchor:before {
  content: '\e838';
}
/* '' */
.picon-c-100:before {
  content: '\e839';
}
/* '' */
.picon-c-50-50:before {
  content: '\e840';
}
/* '' */
.picon-c-33-33-33:before {
  content: '\e841';
}
/* '' */
.picon-c-25-25-25-25:before {
  content: '\e842';
}
/* '' */
.picon-c-75-25:before {
  content: '\e843';
}
/* '' */
.picon-c-25-75:before {
  content: '\e844';
}
/* '' */
.picon-c-33-66:before {
  content: '\e845';
}
/* '' */
.picon-c-66-33:before {
  content: '\e846';
}
/* '' */
.picon-c-25-25-50:before {
  content: '\e847';
}
/* '' */
.picon-c-50-25-25:before {
  content: '\e848';
}
/* '' */
.picon-c-25-50-25:before {
  content: '\e849';
}
/* '' */
/*= Pojo Global - Custom CSS
---------------------------------------*/
.clearfix:before,
.clearfix:after {
  display: table;
  content: " ";
}
.clearfix:after {
  clear: both;
}
.copy-paste-shortcode {
  width: 100%;
}
.copy-paste-shortcode + span {
  display: block;
  font-size: 0.9em;
  padding-top: 5px;
}
.field-multi-checkbox {
  max-height: 350px;
  overflow-y: auto;
}
tr.pojo-settings-child-row {
  border-bottom: 1px solid #FFF;
}
tr.pojo-settings-child-row.no-border {
  border-bottom: none;
}
tr.pojo-settings-child-row th {
  font-size: 90%;
  font-weight: normal;
}
/*= Pojo Admin Dashbord
---------------------------------------*/
#dashboard_right_now .main p {
  display: none;
}
#dashboard_right_now .main p.display-block {
  display: block;
}
.welcome-panel .welcome-slideshows-forms:before {
  content: "\f175";
  top: -2px;
}
.welcome-panel .welcome-setting:before {
  content: "\f108";
  top: -2px;
}
.theme-overlay .parent-theme {
  display: none;
}
/* Admin Bar - Back & Front
*******************************************/
#wpadminbar .quicklinks li .blavatar:before {
  content: "\f319";
}
#wpadminbar li#wp-admin-bar-pojo-dashboard .ab-item:before {
  content: "\f311";
}
#wpadminbar .menupop .menupop > .ab-item:before {
  -moz-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
/**************END***********/
#side-sortables .atmb-send_button_color .radio-image {
  margin-top: 5px;
}
#side-sortables .atmb-send_button_color .radio-image .radio-image-item {
  width: 28px;
  height: 28px;
}
#side-sortables .atmb-send_button_color .radio-image .radio-image-item img.radio-select-img-item {
  border-width: 3px;
  border-color: #FFFFFF;
  opacity: 1;
}
#side-sortables .atmb-send_button_color .radio-image .radio-image-item img.radio-select-img-item:hover {
  border-color: #dddddd;
}
#side-sortables .atmb-send_button_color .radio-image .radio-image-item img.radio-select-img-item.item-checked {
  border-color: #1E8CBE;
  -webkit-box-shadow: 0 0 2px 0 #1e8cbe;
  /* WebKit */
  -moz-box-shadow: 0 0 2px 0 #1e8cbe;
  /* Firefox */
  box-shadow: 0 0 2px 0 #1e8cbe;
  /* Standard */
}
/*= Login Style
---------------------------------------*/
tr.pojo-login-style-logo-image ul.at-image-ul-wrap li img {
  width: 320px;
  height: 100px;
  max-width: 100%;
}
/*= Images Radio
---------------------------------------*/
.pojo_button .radio-image-item {
  width: 28px;
  height: 28px;
}
.pojo_button .radio-image-item img.radio-select-img-item {
  border-width: 3px;
  border-color: #FFFFFF;
  opacity: 1;
}
.pojo_button .radio-image-item img.radio-select-img-item:hover {
  border-color: #dddddd;
}
.pojo_button .radio-image-item img.radio-select-img-item.item-checked {
  border-color: #1E8CBE;
  -webkit-box-shadow: 0 0 2px 0 #1e8cbe;
  /* WebKit */
  -moz-box-shadow: 0 0 2px 0 #1e8cbe;
  /* Firefox */
  box-shadow: 0 0 2px 0 #1e8cbe;
  /* Standard */
}
.radio-image-item {
  display: inline-block;
  text-align: center;
  vertical-align: top;
  width: 65px;
  padding-right: 10px;
  font-size: 11px;
  line-height: 1.2em;
  color: #888888;
}
.radio-image-item label {
  vertical-align: top;
}
img.radio-select-img-item {
  border: 3px solid #dfdfdf;
  margin: 0 auto;
  cursor: pointer;
  opacity: 0.9;
}
img.radio-select-img-item:hover {
  border-color: #999999;
  opacity: 0.9;
}
img.radio-select-img-item.item-checked {
  border-color: #1E8CBE;
  opacity: 1;
}
.radio-select-img-item:hover + label {
  color: #666666;
}
.radio-select-img-item.item-checked + label {
  color: #1E8CBE;
}
/*= Images Input
---------------------------------------*/
ul.at-image-ul-wrap {
  margin: 0;
}
ul.at-image-ul-wrap li.image {
  display: inline-block;
  position: relative;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 10px;
}
ul.at-image-ul-wrap li.image:first-child {
  margin-left: 0;
  margin-right: 5px;
}
.rtl ul.at-image-ul-wrap li.image:first-child {
  margin-left: 5px;
  margin-right: 0;
}
ul.at-image-ul-wrap li img {
  max-width: 115px;
  height: auto;
  vertical-align: middle;
  border: 1px solid #dfdfdf;
  padding: 3px;
}
ul.at-image-ul-wrap li .image-delete {
  display: none;
  margin: 0;
  position: absolute;
  left: 4px;
  top: 4px;
}
ul.at-image-ul-wrap li:hover .image-delete {
  display: block;
  z-index: 999;
}
#customize-control-scroll_up_icon .radio-image-item {
  width: 46px;
  padding: 3px;
  line-height: 1;
}
#customize-control-scroll_up_icon img.radio-select-img-item {
  padding: 5px;
  border-width: 2px;
}
#pojo-page-format h2 {
  padding: 0;
  margin: 20px 0;
}
.rtl .settings_panel,
.rtl .view_wrapper,
.rtl .settings_wrap {
  direction: ltr;
}
.rtl .settings_panel th,
.rtl .view_wrapper th,
.rtl .settings_wrap th {
  text-align: left;
}
div.pojo-loading {
  display: inline-block;
  font-weight: bold;
}
div.pojo-loading .spinner {
  display: inline-block;
  visibility: visible;
  float: none;
  vertical-align: middle;
}
/*= Pojo Forms
---------------------------------------*/
#pojo-forms-form .atmb-repeater-row {
  padding: 0 30px 0 10px;
}
#pojo-forms-form a.atmb-button-collapse {
  background-color: transparent;
  border: none;
  color: #0073AA;
  line-height: inherit;
  padding: 0;
  font-size: inherit;
  height: auto;
  box-shadow: none;
}
#pojo-forms-form a.atmb-button-collapse:active,
#pojo-forms-form a.atmb-button-collapse:hover {
  color: #00A0D2;
}
#pojo-forms-form a.atmb-button-collapse:focus {
  color: #124964;
  box-shadow: none;
}
#pojo-forms-form a.atmb-button-collapse:before {
  content: "\f343";
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  font: normal 11px/1 'dashicons';
  vertical-align: middle;
  margin: 0 2px;
}
#pojo-forms-form a.atmb-button-collapse.close:before {
  content: "\f347";
}
#pojo-forms-form .atmb-button-collapse .atmb-field-row {
  background-color: #f7f7f7;
  padding: 10px;
}
#adminmenu #menu-posts-pojo_forms div.wp-menu-image:before {
  content: "\f175";
}
#dashboard_right_now .pojo_forms-count a:before {
  content: "\f175";
}
.pojo-setting-upload-file-wrap.form-field .pojo-input-file-upload {
  width: 80%;
}
/*= Pojo Home Setting
---------------------------------------*/
.pojo-home-setting header {
  padding-bottom: 50px;
}
.pojo-home-setting header h1 {
  font-weight: 700;
}
.pojo-home-setting header .wp-badge.pojo-badge {
  background-color: #C10052;
  background-image: none;
  color: #ffffff;
  font-weight: bold;
  text-transform: uppercase;
  padding: 15px 0;
  height: auto;
  border-radius: 4px;
  -webkit-border-radius: 4px;
}
.pojo-home-setting header .wp-badge.pojo-badge:before {
  content: '\e833';
  font-family: "picon";
  font-size: 80px;
  font-style: normal;
  font-weight: normal;
  display: inline-block;
  text-decoration: inherit;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  padding-bottom: 15px;
}
.pojo-home-setting .install-section {
  background-color: #ffffff;
  padding: 40px;
  margin-bottom: 40px;
  border: 1px solid #E5E5E5;
  overflow: hidden;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
}
.pojo-home-setting .install-section .install-description {
  font-size: 15px;
  font-weight: bold;
}
.pojo-home-setting .support-section {
  padding-bottom: 40px;
  margin-bottom: 40px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  overflow: hidden;
}
.pojo-home-setting a.go-to-page {
  font-size: 14px;
  font-weight: 700;
  text-decoration: none;
}
.pojo-home-setting .success-massage {
  font-size: 13px;
  font-weight: 700;
  color: green;
}
/*= Pojo System Info
---------------------------------------*/
#pojo-system-info {
  padding: 15px;
}
#pojo-system-info .pojo-system-info-section {
  margin-bottom: 10px;
}
#pojo-system-info .pojo-system-info-section > .pojo-system-info-report-name {
  padding-left: 10px;
  border-bottom: 1px solid #e1e1e1;
}
#pojo-system-info .pojo-system-info-report-name {
  text-transform: uppercase;
  font-size: 14px;
  margin: 0;
  line-height: 2;
}
#pojo-system-info .pojo-system-info-report-row {
  overflow: hidden;
  padding: 5px 0;
}
#pojo-system-info .pojo-system-info-report-row > * {
  float: left;
}
#pojo-system-info .pojo-system-info-report-field,
#pojo-system-info .pojo-system-info-field-recommendation {
  padding-left: 10px;
  color: #7F7F7F;
}
#pojo-system-info .pojo-system-info-report-fields {
  padding-left: 20px;
}
#pojo-system-info .pojo-system-info-plugin-name {
  color: #000;
}
#pojo-system-info .pojo-system-info-plugin-properties {
  padding: 10px;
}
#pojo-system-info #pojo-system-info-raw-code {
  width: 100%;
  height: 200px;
}
#pojo-system-info #pojo-system-info-raw-code-label {
  padding: 5px;
  display: block;
}
/*= Pojo Admin Tabs
---------------------------------------*/
.pojo-admin-tabs.builder-tabs {
  border-bottom: 1px solid #CCC;
  list-style: none;
  margin: 0 0 10px;
  padding: 0;
  line-height: 1;
}
.pojo-admin-tabs.builder-tabs li {
  float: left;
}
.pojo-admin-tabs.builder-tabs li a.nav-tab {
  margin-left: 0.5em;
  outline: none;
  font-size: 12px;
  font-weight: normal;
  line-height: 1.4;
}
.pojo-admin-tabs.builder-tabs li a.nav-tab:hover,
.pojo-admin-tabs.builder-tabs li a.nav-tab:active,
.pojo-admin-tabs.builder-tabs li a.nav-tab:focus {
  outline: none;
  box-shadow: none;
  -webkit-box-shadow: none;
  color: inherit;
}
.pojo-admin-tabs.builder-tabs li a.nav-tab.nav-tab-active {
  background-color: #F5F5F5;
}
div.pojo-admin-tabs-content div.pojo-admin-tab-panel {
  display: none;
}
div.pojo-admin-tabs-content div.pojo-admin-tab-panel.tab-active {
  display: block;
}
/*= Admin Meta Box
---------------------------------------*/
h4.atmb-heading {
  margin-bottom: 0;
}
.atmb-wrap-fields .atmb-field-row {
  padding: 10px 0;
  border-bottom: 1px solid #EEEEEE;
}
.atmb-wrap-fields .atmb-field-row.atmb-heading_general_settings,
.atmb-wrap-fields .atmb-field-row.atmb-heading_sub_header,
.atmb-wrap-fields .atmb-field-row.atmb-heading_page_content {
  border-bottom-color: #dfdfdf;
}
.atmb-wrap-fields .atmb-is_display_sub_header {
  border-top: none;
}
.atmb-wrap-fields .atmb-label,
.atmb-wrap-fields .atmb-input {
  display: inline-block;
  vertical-align: middle;
}
.atmb-wrap-fields .atmb-label {
  width: 29%;
  max-width: 180px;
}
.atmb-wrap-fields .atmb-label ~ .atmb-input {
  width: 70%;
}
.atmb-wrap-fields .atmb-input {
  width: 100%;
}
.atmb-wrap-fields .atmb-field-row .atmb-input textarea {
  min-height: 100px;
  min-width: 300px;
}
.atmb-wrap-fields .atmb-field-row .atmb-input textarea ~ .atmb-note {
  padding: 0;
}
.atmb-wrap-fields .atmb-note {
  padding: 0 10px;
  font-size: 0.9em;
  font-style: italic;
}
.atmb-field-row .atmb-input input[type="text"],
.atmb-field-row .atmb-input select {
  min-width: 220px;
}
.atmb-multi-checkboxes {
  max-height: 400px;
  overflow-y: auto;
}
/*= Images Input
---------------------------------------*/
ul.at-image-ul-wrap li.image {
  display: inline-block;
  position: relative;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 10px;
}
ul.at-image-ul-wrap li.image:first-child {
  margin-left: 0;
  margin-right: 5px;
}
.rtl ul.at-image-ul-wrap li.image:first-child {
  margin-left: 5px;
  margin-right: 0;
}
ul.at-image-ul-wrap li img {
  width: 115px;
  height: 115px;
  vertical-align: middle;
  border: 1px solid #dfdfdf;
  padding: 3px;
  border-radius: 3px;
}
#customize-control-image_logo ul.at-image-ul-wrap li.image {
  max-width: 100%;
  margin: 0;
}
#customize-control-image_logo ul.at-image-ul-wrap li img {
  width: auto;
  height: auto;
  max-width: 95%;
}
ul.at-image-ul-wrap li:hover .image-delete {
  display: block;
  z-index: 999;
}
#ppf-post-cpt-post .atmb-taxonomy_terms .atmb-checkbox-list-item {
  margin-left: 180px;
  margin-right: 0;
}
#ppf-post-cpt-post .atmb-taxonomy_terms .atmb-checkbox-list-item {
  margin-left: 180px;
  margin-right: 0;
}
.atmb-display .atmb-checkbox-list-item {
  margin-right: 0;
  margin-left: 0;
}
.atmb-checkbox-list-item label {
  padding: 0 3px;
}
/*= Repeater
---------------------------------------*/
.atmb-repeater-ol {
  list-style: none;
  margin: 0;
}
.atmb-repeater-ol .sortable-placeholder {
  margin-bottom: 10px;
}
li.atmb-repeater-row {
  position: relative;
  background: #FCFCFC;
  margin-bottom: 10px;
  padding-right: 20px;
  -webkit-box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  zoom: 1;
  /* ie7 fix */
}
li.atmb-repeater-row:hover {
  -webkit-box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.1);
}
li.atmb-repeater-row:before,
li.atmb-repeater-row:after {
  content: "";
  display: table;
}
li.atmb-repeater-row:after {
  clear: both;
}
.rtl li.atmb-repeater-row .atmb-btn-repeater-remove-row {
  right: auto;
  left: 1em;
}
.row-sortable-handle {
  background-color: #bbbbbb;
  color: #FFFFFF;
  height: 100%;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  width: 20px;
  cursor: move;
}
.row-sortable-handle .atmb-btn-repeater-remove-row {
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  font: normal 16px/1 'dashicons';
  vertical-align: middle;
  text-decoration: none;
  color: #FFFFFF;
}
.row-sortable-handle .atmb-btn-repeater-remove-row:after {
  content: "\f153";
}
/*= Meta Box - Sidebar
---------------------------------------*/
#side-sortables .atmb-label,
#side-sortables .atmb-input {
  width: 100%;
}
#side-sortables .atmb-heading {
  border-bottom: 1px solid #EEEEEE;
  margin: 0;
}
#side-sortables .radio-image-item {
  width: 127px;
  padding: 0;
}
#side-sortables .atmb-wrap-fields .atmb-field-row {
  border: none;
  padding: 5px 0;
}
/*= Meta Box - Formats
---------------------------------------*/
#pojo-formats-panel-sortables > div.postbox {
  display: none;
}
#pojo-formats-panel-sortables h3 {
  border-bottom: 1px solid #eee;
}
/*= Meta Box - Builder Templates
---------------------------------------*/
#pojo-templates .atmb-field-row .atmb-label {
  display: block;
  line-height: 24px;
}
#pojo-templates .atmb-field-row .atmb-label ~ .atmb-input {
  width: 100%;
}
#pojo-templates .atmb-field-row.atmb-template_actions .atmb-label {
  display: none;
}
#pojo-templates .atmb-field-row.atmb-template_actions .description {
  margin-top: 10px;
}
#pojo-templates .atmb-input input[type="text"] {
  width: 100%;
  padding: 12px;
  font-size: 18px;
}
/*= Widgets Repeater
---------------------------------------*/
.field-repeater .field-repeater-list {
  margin-bottom: 10px;
}
.field-repeater .field-repeater-list .field-repeater-row {
  margin-top: 10px;
}
.field-repeater .field-repeater-list .field-repeater-row .field-row-actions {
  border: 1px solid #E5E5E5;
  background-color: #FAFAFA;
  padding: 1em;
  font-weight: bold;
  cursor: move;
  overflow: hidden;
}
.field-repeater .field-repeater-list .field-repeater-row .field-row-actions .number-row {
  float: left;
}
.field-repeater .field-repeater-list .field-repeater-row .field-row-actions .item-actions {
  float: right;
}
.field-repeater .field-repeater-list .field-repeater-row .field-row-actions a.btn-remove-current-row,
.field-repeater .field-repeater-list .field-repeater-row .field-row-actions a.btn-edit-current-row {
  text-decoration: none;
}
.field-repeater .field-repeater-list .field-repeater-row .field-row-actions a.btn-remove-current-row:before,
.field-repeater .field-repeater-list .field-repeater-row .field-row-actions a.btn-edit-current-row:before {
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  font: normal 1.2em/1 'dashicons';
  vertical-align: middle;
  margin-right: 2px;
}
.field-repeater .field-repeater-list .field-repeater-row .field-row-actions .btn-remove-current-row:before {
  content: "\f335";
}
.field-repeater .field-repeater-list .field-repeater-row .field-row-actions .btn-remove-current-row:hover {
  color: #ff0000;
}
.field-repeater .field-repeater-list .field-repeater-row .field-row-actions .btn-edit-current-row:before {
  content: "\f464";
}
.field-repeater .field-repeater-list .field-repeater-row .field-row-actions:hover {
  border-color: #999999;
}
.field-repeater .field-repeater-list .field-repeater-row .field-row-content {
  border-width: 0 1px 1px;
  border-style: solid;
  border-color: #e5e5e5;
  overflow: hidden;
}
.field-repeater .field-repeater-list .field-repeater-row .field-row-content p {
  margin-left: 1em;
  margin-right: 1em;
}
/*= Pojo Admin Modal
---------------------------------------*/
div.pojo-admin-modal {
  position: fixed;
  display: none;
  top: 50px;
  bottom: 50px;
  right: 15%;
  left: 15%;
  margin: auto;
  max-width: 1000px;
  z-index: 20001;
  background: #fff;
}
div.pojo-admin-modal .modal-header {
  height: 50px;
  border-bottom: 1px solid #DFDFDF;
  padding: 0 15px;
  box-shadow: 0 4px 4px -4px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 4px 4px -4px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 4px 4px -4px rgba(0, 0, 0, 0.1);
  position: relative;
}
div.pojo-admin-modal .modal-header h3.modal-title {
  margin: 0 !important;
  line-height: 50px !important;
  padding: 0 10px !important;
}
div.pojo-admin-modal .modal-header .pojo-modal-close {
  line-height: 50px;
  text-align: center;
  text-decoration: none;
}
div.pojo-admin-modal .modal-content {
  position: absolute;
  overflow: auto;
  top: 50px;
  left: 0;
  right: 0;
  bottom: 50px;
  padding: 15px;
}
div.pojo-admin-modal .modal-content input,
div.pojo-admin-modal .modal-content select,
div.pojo-admin-modal .modal-content textarea {
  padding: 7px 12px;
  border-radius: 0;
}
div.pojo-admin-modal .modal-content textarea {
  min-height: 200px;
}
div.pojo-admin-modal .modal-content select {
  height: auto;
}
div.pojo-admin-modal .modal-content label {
  padding-bottom: 10px;
}
div.pojo-admin-modal .modal-content .pojo-setting-upload-image-wrap {
  margin-left: 1em;
  margin-right: 1em;
}
div.pojo-admin-modal .modal-content .field-checkbox label {
  padding-bottom: 0;
}
div.pojo-admin-modal .modal-footer {
  height: 50px;
  border-top: 1px solid #DFDFDF;
  box-shadow: 0 4px 4px -4px rgba(0, 0, 0, 0.1) inset;
  -webkit-box-shadow: 0 4px 4px -4px rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow: 0 4px 4px -4px rgba(0, 0, 0, 0.1) inset;
  position: absolute;
  bottom: 0;
  background: none repeat scroll 0% 0% #FCFCFC;
  width: 100%;
}
div.pojo-admin-modal .modal-footer .button {
  position: absolute;
  right: 30px;
  top: 10px;
  padding: 0 35px 2px;
}
.pojo_catalog div.pojo-admin-modal .modal-content textarea {
  min-height: 100px;
}
div.pojo-admin-modal-backdrop {
  z-index: 20000;
  display: none;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: fixed;
  background: #000;
  opacity: 0.7;
  filter: alpha(opacity=70);
}
/*= Pojo Builder
---------------------------------------*/
#page-builder .inside {
  margin: 0;
  padding: 0;
}
.pb-builder-placeholder {
  border: 1px dashed #bbb;
  float: left;
  padding: 4px 7px 4px 8px;
  margin: 0 5px 10px;
  position: relative;
}
.pb-row-placeholder {
  background: #f5f5f5;
  border: 1px dashed #bbb;
  padding: 20px 10px;
  margin: 0 0 20px;
  position: relative;
}
#pb-rows {
  margin: 10px 10px 0;
}
#pb-rows .pb-row {
  height: auto;
  width: 100%;
  background: #EEEEEE;
  padding: 20px 30px 20px 20px;
  margin-bottom: 20px;
  position: relative;
  overflow: hidden;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.pb-row-sortable-handle {
  cursor: move;
}
.pb-row-tools {
  background: #bbbbbb;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  width: 10px;
}
#pb-rows div.pb-row.ppb-state-hover {
  border: 4px dashed #dcdcdc;
}
.pb-row-setting-toggle {
  background: #f9f9f9;
  padding: 5px 20px;
  margin: 0 -20px -20px;
  overflow: hidden;
  color: #cccccc;
}
.pb-row-setting-toggle a:hover,
.pb-row-setting-toggle a:focus {
  box-shadow: none;
}
.pb-row-setting-toggle .pb-row-setting-left {
  float: left;
}
.pb-row-setting-toggle .pb-row-setting-right {
  float: right;
}
.pb-row-setting-toggle .pb-btn-row-setting-toggle:before {
  content: "\f347";
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  font: normal 11px/1 'dashicons';
  vertical-align: middle;
  margin: 0 2px;
}
.pb-row-setting-toggle .pb-btn-row-setting-toggle.active:before {
  content: "\f343";
}
.pb-row-setting-toggle a {
  text-decoration: none;
}
.pb-row-setting-toggle a.pb-btn-delete-row {
  color: #A00;
}
.pb-row-setting-toggle a.pb-btn-delete-row:hover {
  color: #F00;
}
.pb-row-setting-content {
  background: #f9f9f9;
  padding: 5px 0;
  margin-top: 20px;
  margin-right: -30px;
  margin-left: -20px;
}
.pb-row-setting-content .pb-row-setting-line {
  background: #FFFFFF;
  padding: 5px 20px;
  margin-bottom: 1px;
}
.pb-row-setting-content .pb-row-setting-line .label {
  display: inline-block;
  width: 50%;
  max-width: 300px;
  min-width: 200px;
  vertical-align: middle;
}
.pb-row-setting-content .pb-row-setting-line p.description {
  font-size: 11px;
}
.pb-row-setting-content .pb-row-setting-line .input {
  display: inline-block;
  width: 50%;
  max-width: 350px;
  vertical-align: middle;
}
.pb-row-setting-content .pb-row-setting-line .input input,
.pb-row-setting-content .pb-row-setting-line .input select {
  min-width: 290px;
}
.pb-rows-actions {
  margin: 0 10px 10px;
}
.pb-add-row-options {
  background: #f9f9f9;
  margin: 10px;
  padding: 20px 10px;
}
.pb-add-row-options .pb-add-row-btn {
  display: inline-block;
  text-decoration: none;
  text-align: center;
  border: 1px solid transparent;
  color: #BBBBBB;
  margin-left: 15px;
}
.pb-add-row-options .pb-add-row-btn span {
  display: block;
}
.pb-add-row-options .pb-add-row-btn:hover,
.pb-add-row-options .pb-add-row-btn:focus {
  color: #0073AA;
}
.pb-add-row-options .pb-add-row-btn:before {
  content: '\e839';
  font-family: "picon";
  font-size: 760%;
  font-style: normal;
  font-weight: normal;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
}
.pb-add-row-options .pb-add-row-btn.c-50-50:before {
  content: '\e840';
}
.pb-add-row-options .pb-add-row-btn.c-33-33-33:before {
  content: '\e841';
}
.pb-add-row-options .pb-add-row-btn.c-25-25-25-25:before {
  content: '\e842';
}
.pb-add-row-options .pb-add-row-btn.c-75-25:before {
  content: '\e843';
}
.pb-add-row-options .pb-add-row-btn.c-25-75:before {
  content: '\e844';
}
.pb-add-row-options .pb-add-row-btn.c-33-66:before {
  content: '\e845';
}
.pb-add-row-options .pb-add-row-btn.c-66-33:before {
  content: '\e846';
}
.pb-add-row-options .pb-add-row-btn.c-50-25-25:before {
  content: '\e848';
}
.pb-add-row-options .pb-add-row-btn.c-25-25-50:before {
  content: '\e847';
}
.pb-add-row-options .pb-add-row-btn.c-25-50-25:before {
  content: '\e849';
}
.templates-library-actions {
  float: right;
}
/*= Builder - Columns
---------------------------------------*/
#page-builder .pb-column-1,
#page-builder .pb-column-2,
#page-builder .pb-column-3,
#page-builder .pb-column-4,
#page-builder .pb-column-5,
#page-builder .pb-column-6,
#page-builder .pb-column-7,
#page-builder .pb-column-8,
#page-builder .pb-column-9,
#page-builder .pb-column-10,
#page-builder .pb-column-11,
#page-builder .pb-column-12 {
  float: left;
}
#page-builder .pb-column-1 {
  width: 8.3333%;
}
#page-builder .pb-column-2 {
  width: 16.6667%;
}
#page-builder .pb-column-3 {
  width: 25%;
}
#page-builder .pb-column-4 {
  width: 33.3333%;
}
#page-builder .pb-column-5 {
  width: 41.6667%;
}
#page-builder .pb-column-6 {
  width: 50%;
}
#page-builder .pb-column-7 {
  width: 58.3333%;
}
#page-builder .pb-column-8 {
  width: 66.6667%;
}
#page-builder .pb-column-9 {
  width: 75%;
}
#page-builder .pb-column-10 {
  width: 83.3333%;
}
#page-builder .pb-column-11 {
  width: 91.6667%;
}
#page-builder .pb-column-12 {
  width: 100%;
}
#pb-rows.pb-has-multi-rows .pb-row.pb-active-row a.pb-btn-delete-row,
#pb-rows.pb-has-multi-rows .pb-row.pb-active-row .pb-separator {
  display: inline-block;
}
#pb-rows .pb-row .pb-advanced-columns {
  margin: 0 -10px;
}
#pb-rows .pb-row .pb-advanced-columns .pb-advanced-column {
  position: relative;
  padding: 0 10px;
  margin-bottom: 25px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#pb-rows .pb-row .pb-advanced-columns .pb-advanced-column:hover .pb-widget-columns,
#pb-rows .pb-row .pb-advanced-columns .pb-advanced-column:focus .pb-widget-columns {
  border: 1px solid #0073AA;
}
#pb-rows .pb-row .pb-advanced-columns .pb-advanced-column:hover .pb-column-display-width,
#pb-rows .pb-row .pb-advanced-columns .pb-advanced-column:focus .pb-column-display-width {
  visibility: visible;
}
#pb-rows .pb-row .pb-advanced-columns .pb-advanced-column:hover .pb-column-tools,
#pb-rows .pb-row .pb-advanced-columns .pb-advanced-column:focus .pb-column-tools {
  visibility: visible;
}
#pb-rows .pb-row .pb-advanced-columns .pb-advanced-column .pb-remove-column-action .pb-remove-column {
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  position: absolute;
  margin: auto;
  width: 100px;
  line-height: 68px;
  color: #BBBBBB;
  text-align: center;
}
#pb-rows .pb-row .pb-advanced-columns .pb-advanced-column .pb-remove-column-action .pb-remove-column:hover,
#pb-rows .pb-row .pb-advanced-columns .pb-advanced-column .pb-remove-column-action .pb-remove-column:focus {
  color: #A00;
  box-shadow: none;
}
#pb-rows .pb-row .pb-advanced-columns .pb-advanced-column .pb-column-display-width {
  visibility: hidden;
  position: absolute;
  right: 10px;
  color: #999;
  font-size: 0.9em;
  font-style: italic;
}
#pb-rows .pb-row .pb-advanced-columns .pb-advanced-column .pb-column-tools {
  visibility: hidden;
  position: absolute;
  bottom: -20px;
  z-index: 3;
}
#pb-rows .pb-row .pb-advanced-columns .pb-advanced-column .pb-column-tools .pb-resize {
  float: left;
  display: inline-block;
}
#pb-rows .pb-row .pb-advanced-columns .pb-advanced-column .pb-column-tools .pb-resize a {
  float: left;
  vertical-align: middle;
  display: block;
  width: 20px;
  height: 20px;
  line-height: 1;
  text-decoration: none;
}
#pb-rows .pb-row .pb-advanced-columns .pb-advanced-column .pb-column-tools .pb-resize a:first-child {
  border-right: 1px solid #ffffff;
}
#pb-rows .pb-row .pb-advanced-columns .pb-advanced-column .pb-column-tools .pb-resize a .dashicons {
  background-color: #0073AA;
  color: #ffffff;
  height: 20px;
  width: 20px;
  line-height: 1;
}
#pb-rows .pb-row .pb-advanced-columns .pb-advanced-column .pb-column-tools .pb-resize a .dashicons:before {
  line-height: 20px;
}
#pb-rows .pb-row .pb-advanced-columns .pb-advanced-column .pb-column-tools .pb-resize a:hover,
#pb-rows .pb-row .pb-advanced-columns .pb-advanced-column .pb-column-tools .pb-resize a:focus {
  box-shadow: none;
}
#pb-rows .pb-row .pb-advanced-columns .pb-advanced-column .pb-column-tools .pb-resize a:hover .dashicons,
#pb-rows .pb-row .pb-advanced-columns .pb-advanced-column .pb-column-tools .pb-resize a:focus .dashicons {
  background-color: #124964;
}
#pb-rows .pb-row .pb-widget-columns {
  min-height: 68px;
  padding: 10px 5px 0;
  border: 1px dashed #BBB;
  overflow: hidden;
  background-color: #F9F9F9;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#pb-rows .pb-row.pb-row-has-multi-columns .pb-remove-column-action {
  display: block;
}
#pb-rows .pb-row .pb-advanced-column.pb-active-column.has-widgets .pb-remove-column-action {
  display: none;
}
/*= Builder - Widgets
---------------------------------------*/
#pb-widgets-list {
  background: #f5f5f5;
  border-bottom: 1px solid #DEDEDE;
  padding: 10px 10px;
  margin-bottom: 20px;
  overflow: hidden;
}
#pb-widgets-list .pb-widget {
  background: transparent;
  border: 1px dashed transparent;
  color: #666;
  display: block;
  width: 72px;
  height: 72px;
  text-align: center;
  padding-top: 12px;
  overflow: hidden;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#pb-widgets-list .pb-widget:before {
  content: '\e808';
  font-family: "picon";
  font-size: 200%;
  font-style: normal;
  font-weight: normal;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  margin-left: .2em;
}
#pb-widgets-list .pb-widget h4.pb-title-name {
  font-size: 0.85em;
  line-height: 1.15em;
  font-weight: normal;
  margin: 5px 0 0;
}
#pb-widgets-list .pb-widget .spinner,
#pb-widgets-list .pb-widget h4.pb-title-tools {
  display: none;
}
#pb-widgets-list .pb-widget:hover {
  background: #FFFFFF;
  border-color: #bbb;
  color: #000;
  cursor: move;
  opacity: 1;
}
#pb-widgets-list .pb-widget.pojo_title:before {
  content: '\e800';
}
#pb-widgets-list .pb-widget.pojo_wysiwyg:before {
  content: '\E829';
}
#pb-widgets-list .pb-widget.pojo_image:before {
  content: '\e804';
}
#pb-widgets-list .pb-widget.pojo_image_text:before {
  content: '\e822';
}
#pb-widgets-list .pb-widget.pojo_divider:before {
  content: '\e828';
}
#pb-widgets-list .pb-widget.pojo_button:before {
  content: '\e831';
}
#pb-widgets-list .pb-widget.pojo_embed_video:before {
  content: '\e801';
}
#pb-widgets-list .pb-widget.pojo_google_maps:before {
  content: '\e803';
}
#pb-widgets-list .pb-widget.pojo_recent_posts:before {
  content: '\e808';
}
#pb-widgets-list .pb-widget.pojo_tabs:before {
  content: '\e832';
}
#pb-widgets-list .pb-widget.pojo_form_widget:before {
  content: '\e813';
}
#pb-widgets-list .pb-widget.pojo_slideshow_widget:before {
  content: '\e824';
}
#pb-widgets-list .pb-widget.pojo_opening_hours:before {
  content: '\e821';
}
#pb-widgets-list .pb-widget.pojo_recent_galleries:before {
  content: '\e830';
}
#pb-widgets-list .pb-widget.pojo_gallery:before {
  content: '\e826';
}
#pb-widgets-list .pb-widget.pojo_rev_slider:before {
  content: '\e810';
}
#pb-widgets-list .pb-widget.pojo_testimonials:before {
  content: '\e817';
}
#pb-widgets-list .pb-widget.pojo_catalog:before {
  content: '\e802';
}
#pb-widgets-list .pb-widget.pojo_social_links:before {
  content: '\e809';
}
#pb-widgets-list .pb-widget.pojo_animated_nums:before {
  content: '\e835';
}
#pb-widgets-list .pb-widget.pojo_places:before {
  content: '\e811';
}
#pb-widgets-list .pb-widget.pojo_news_ticker:before {
  content: '\e834';
}
#pb-widgets-list .pb-widget.pojo_posts_group:before {
  content: '\e836';
}
#pb-widgets-list .pb-widget.pojo_sidebar:before {
  content: '\e837';
}
#pb-widgets-list .pb-widget.pojo_menu_anchor:before {
  content: '\e838';
}
#pb-widgets-list .pb-widget.pojo_wc_products:before,
#pb-widgets-list .pb-widget.pojo_wc_products_category:before,
#pb-widgets-list .pb-widget.pojo_wc_product_categories:before {
  content: '\e805';
}
#pb-widgets-list .pb-widget.wp_widget_text:before,
#pb-widgets-list .pb-widget.wp_widget_pages:before,
#pb-widgets-list .pb-widget.wp_widget_links:before,
#pb-widgets-list .pb-widget.wp_widget_search:before,
#pb-widgets-list .pb-widget.wp_widget_archives:before,
#pb-widgets-list .pb-widget.wp_widget_meta:before,
#pb-widgets-list .pb-widget.wp_widget_calendar:before,
#pb-widgets-list .pb-widget.wp_widget_categories:before,
#pb-widgets-list .pb-widget.wp_widget_recent-posts:before,
#pb-widgets-list .pb-widget.wp_widget_recent-comments:before,
#pb-widgets-list .pb-widget.wp_widget_rss:before,
#pb-widgets-list .pb-widget.wp_widget_tag_cloud:before,
#pb-widgets-list .pb-widget.wp_widget_nav_menu:before {
  content: '\e806';
}
#pb-widgets {
  margin: 0;
}
#pb-widgets li {
  margin: 0;
}
div.pb-widget div.pb-resize,
div.pb-widget div.pb-toggle {
  display: none;
}
div.pb-widget-content,
#pb-rows div.pb-row-clone,
#pb-rows .pb-row-setting-right a.pb-btn-delete-row,
#pb-rows .pb-row-setting-right .pb-separator,
#page-builder div.pb-add-row-options,
#pb-rows div.pb-advanced-column.pb-advanced-column-clone,
#pb-rows div.pb-advanced-column .pb-remove-column-action,
div.pb-row-setting-content {
  display: none;
}
#pb-rows div.pb-widget div.pb-resize,
#pb-rows div.pb-widget div.pb-toggle {
  display: inline;
}
.pb-widget-control-actions {
  overflow: hidden;
  margin-top: 15px;
}
.pb-widget-control-actions .pb-widget-control-remove {
  color: #a00;
}
.pb-widget-control-actions .pb-widget-control-remove:hover {
  color: #ff0000;
}
.pb-widget-control-actions .pb-widget-control-close {
  color: #AAAAAA;
}
.pb-widget-control-actions .pb-widget-control-close:hover {
  color: #777777;
}
#pb-rows .pb-row .pb-widget {
  position: relative;
  max-width: 100%;
  float: left;
  padding: 0 5px;
  margin-bottom: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#pb-rows .pb-row .pb-widget.pb-widget-loading span.spinner {
  display: block;
  visibility: visible;
}
#pb-rows .pb-row .pb-widget.pb-widget-loading .pb-toggle,
#pb-rows .pb-row .pb-widget.pb-widget-loading .pb-resize,
#pb-rows .pb-row .pb-widget.pb-widget-loading .pb-title-tools {
  visibility: hidden;
}
#pb-rows .pb-row .pb-widget.pb-widget-loading .pb-widget-top {
  cursor: default;
}
#pb-rows .pb-row .pb-widget-top {
  position: relative;
  height: 44px;
  background: none repeat scroll 0 0 #FAFAFA;
  color: #222222;
  border: 1px solid #DDDDDD;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  cursor: move;
}
#pb-rows .pb-row .pb-widget-top:hover {
  border-color: #999999;
}
#pb-rows .pb-row .pb-widget-top:hover .pb-widget-title h4.pb-title-name {
  display: none;
}
#pb-rows .pb-row .pb-widget-top:hover .pb-widget-title h4.pb-title-tools {
  display: block;
}
#pb-rows .pb-row .pb-widget-top a {
  text-decoration: none;
  color: #AAAAAA;
}
#pb-rows .pb-row .pb-widget-top a:hover {
  color: #777777;
}
#pb-rows .pb-row .pb-widget-top .pb-widget-title {
  height: 44px;
}
#pb-rows .pb-row .pb-widget-top .pb-widget-title h4.pb-title-name {
  -moz-user-select: none;
  margin: 0;
  overflow: hidden;
  padding: 0 5px;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: 44px;
}
#pb-rows .pb-row .pb-widget-top .pb-widget-title h4.pb-title-tools {
  margin: 0;
  padding: 16px 0 0;
  display: none;
  text-align: center;
  font-size: 11px;
  color: #dddddd;
  font-weight: normal;
  line-height: 1;
}
#pb-rows .pb-row .pb-widget-top .pb-title-tools a {
  line-height: 1;
}
#pb-rows .pb-row .pb-widget-top .pb-title-tools a.pb-widget-control-duplicate {
  color: #0074a2;
}
#pb-rows .pb-row .pb-widget-top .pb-title-tools a.pb-widget-control-duplicate:before {
  content: "\f502";
}
#pb-rows .pb-row .pb-widget-top .pb-title-tools a.pb-widget-control-duplicate:hover {
  color: #2ea2cc;
}
#pb-rows .pb-row .pb-widget-top .pb-title-tools a.pb-widget-control-remove {
  color: #a00;
}
#pb-rows .pb-row .pb-widget-top .pb-title-tools a.pb-widget-control-remove:before {
  content: "\f153";
}
#pb-rows .pb-row .pb-widget-top .pb-title-tools a.pb-widget-control-remove:hover {
  color: #ff0000;
}
#pb-rows .pb-row .pb-widget-top .pb-title-tools a:before {
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  font: normal 11px/1 'dashicons';
  vertical-align: top;
}
#pb-rows .pb-row .pb-widget-top .spinner {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}
#pb-rows .pb-row .pb-widget-content {
  background: none repeat scroll 0 0 #FFFFFF;
  border: 1px solid #DDDDDD;
  border-top: 0 none;
  line-height: 16px;
  padding: 1px 15px 15px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}
#pb-rows .pb-row .pb-widget-content .wp-color-result {
  margin: 0;
}
#pb-rows .pb-row .pb-toggle {
  float: right;
  position: relative;
  display: table;
}
#pb-rows .pb-row .pb-toggle .pb-action-toggle,
#pb-rows .pb-row .pb-toggle .pb-current-size {
  display: table-cell;
  vertical-align: middle;
  height: 43px;
}
#pb-rows .pb-row .pb-toggle .pb-action-toggle .dashicons,
#pb-rows .pb-row .pb-toggle .pb-current-size .dashicons {
  font-weight: 400;
  font-size: 20px;
  line-height: 1em;
  vertical-align: middle;
  text-align: center;
  padding: 5px;
}
#pb-rows .pb-row .pb-toggle .pb-current-size {
  font-style: italic;
  font-size: 0.9em;
  color: #AAAAAA;
}
#pb-rows .pb-row .pb-resize {
  float: left;
  height: 100%;
  display: table;
}
#pb-rows .pb-row .pb-resize a {
  display: table-row;
  vertical-align: middle;
}
#pb-rows .pb-row .pb-resize a .dashicons {
  background: #EEEEEE;
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  height: 21px;
  vertical-align: middle;
  text-align: center;
}
#pb-rows .pb-row .pb-resize a .dashicons:hover {
  background: #666666;
  color: #FFFFFF;
}
#pb-rows .pb-row .pb-resize .pb-action-more .dashicons {
  line-height: 24px;
  margin-bottom: 1px;
}
/*= Preview Iframe
---------------------------------------*/
#admin-preview-iframe {
  height: 104%;
  text-align: center;
  margin: -32px auto;
  padding: 1%;
  background-color: rgba(0, 0, 0, 0.6);
  position: relative;
}
#admin-preview-iframe .iframe-inside {
  position: fixed;
  top: 50px;
  bottom: 50px;
  right: 15%;
  left: 15%;
  margin: auto;
  max-width: 1000px;
  z-index: 20001;
  background: #fff;
  padding: 15px 30px;
  box-shadow: 0 4px 4px -4px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 4px 4px -4px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 4px 4px -4px rgba(0, 0, 0, 0.1);
}
#admin-preview-iframe .iframe-inside a.media-modal-close {
  top: 30px;
}
#admin-preview-iframe iframe {
  margin-top: 20px;
  height: 80%;
  max-width: 1024px;
  width: 100%;
}
#admin-preview-iframe a.btn-close-iframe,
#admin-preview-iframe a.btn-save-iframe {
  margin-top: 30px;
}
#admin-visual-editor-preview-iframe {
  display: none;
}
#admin-visual-editor-preview-iframe #iframe-text-editor-loading {
  margin: 0 auto;
  padding-top: 20px;
  text-align: center;
}
#admin-visual-editor-preview-iframe #iframe-text-editor-loading .spinner {
  display: inline-block;
  float: none;
  margin: 0 auto;
  visibility: visible;
}
#admin-visual-editor-preview-iframe .text-editor-wrap {
  display: none;
  margin: 30px auto 0;
  overflow: auto;
  padding: 0 30px;
  height: auto;
  z-index: 1;
}
#admin-visual-editor-preview-iframe .text-editor-wrap iframe {
  min-height: 400px;
  height: 100% !important;
}
#admin-visual-editor-preview-iframe .text-editor-wrap textarea {
  min-height: 400px;
}
#admin-visual-editor-preview-iframe-backdrop {
  z-index: 20000;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: fixed;
  background: #000;
  opacity: 0.7;
  filter: alpha(opacity=70);
}
body.no-allow-scroll {
  overflow: hidden;
}
/*= Pojo Slideshow
---------------------------------------*/
#adminmenu #menu-posts-pojo_slideshow div.wp-menu-image:before,
#dashboard_right_now .pojo_slideshow-count a:before {
  content: "\f181";
}
.atmb-slideshow_style {
  text-align: center;
}
.atmb-wrap-fields .atmb-field-row.atmb-slides {
  border: none;
}
.atmb-slides ul.at-image-ul-wrap li .image-delete {
  right: -10px;
  left: auto;
  top: -5px;
}
.atmb-slides li.atmb-repeater-row .atmb-image,
.atmb-slides li.atmb-repeater-row .slide-info {
  float: left;
  padding-right: 1%;
  padding-left: 1%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.atmb-slides li.atmb-repeater-row .slide-info {
  width: 80%;
}
.atmb-slides li.atmb-repeater-row .atmb-image {
  width: 20%;
}
.atmb-slides li.atmb-repeater-row .at-upload-image-wrap .single-image {
  padding: 60px 0;
  background: #eeeeee;
  text-align: center;
  border: 3px dashed #dfdfdf;
}
.atmb-slides li.atmb-repeater-row input[type="text"],
.atmb-slides li.atmb-repeater-row select,
.atmb-slides li.atmb-repeater-row textarea {
  min-width: 100px;
  max-width: 100%;
  width: 100%;
  cursor: default;
}
.atmb-slides li.atmb-repeater-row .atmb-html .atmb-label,
.atmb-slides li.atmb-repeater-row .atmb-html .atmb-input,
.atmb-slides li.atmb-repeater-row .atmb-image .atmb-input {
  width: 100%;
}
.atmb-slides li.atmb-repeater-row .atmb-image .atmb-label,
.atmb-slides li.atmb-repeater-row .atmb-image .atmb-label label {
  display: none;
}
.atmb-slides ul.at-image-ul-wrap li.image img {
  width: 100%;
  max-width: 100%;
  margin: 0;
}
/*= Pojo Galleries
---------------------------------------*/
#adminmenu #menu-posts-pojo_gallery div.wp-menu-image:before,
#dashboard_right_now .pojo_gallery-count a:before {
  content: "\f161";
}
.pojo-media-manager .pojo-media-preview-html li {
  display: inline-block;
  cursor: pointer;
  padding-right: 10px;
  padding-bottom: 10px;
}
.pojo-media-manager .pojo-media-preview-html li img {
  max-width: 150px;
  max-height: 150px;
  width: 100%;
  height: auto;
}
.pojo-media-gallery-insert .gallery-settings {
  display: none;
}
/*= Templates Library
---------------------------------------*/
body.post-type-_pb_templates a.add-new-h2 {
  display: none;
}
.bt-items-wrap .attachment.bt-item {
  width: 20%;
}
.bt-items-wrap .media-sidebar .thumbnail {
  margin-bottom: 10px;
}
.bt-items-wrap .media-sidebar .thumbnail img {
  max-width: 100%;
}
.bt-items-wrap .media-sidebar .actions {
  margin: 10px 0;
}
.bt-items-wrap .media-sidebar .actions > a {
  display: inline;
  text-decoration: none;
}
.save-template .setting {
  display: block;
  position: relative;
  padding: 16px;
  margin: 0;
  z-index: 250;
  font-size: 18px;
}
.save-template .setting span {
  display: block;
  width: 200px;
  font-size: 13px;
  line-height: 24px;
  color: #666;
}
.save-template .setting input {
  width: 100%;
  min-width: 200px;
}
.save-template .name-template input {
  font-size: 18px;
  padding: 12px 14px;
}
.import-new-template h3 {
  font-size: 14px;
  padding: 8px 12px;
  margin: 0px;
  line-height: 1.4;
  border-bottom: 1px solid #EEE;
}
.import-new-template .inside {
  margin-bottom: 0;
}
/*= Pojo Feedback
---------------------------------------*/
.pojo-dismiss-feedback-button {
  opacity: 0.5;
}
.pojo-dismiss-feedback-button:hover {
  opacity: 1;
}
.pojo-feedback-modal {
  background-color: #f7f7f7;
  height: 100%;
  display: table;
  width: 100%;
  text-align: center;
}
.pojo-feedback-modal .modal-wrapper {
  display: table-cell;
  vertical-align: middle;
  padding: 10px;
}
.pojo-feedback-modal .modal-wrapper .modal-inner {
  background-color: #ffffff;
  border: 1px solid #eeeeee;
  max-width: 500px;
  overflow: hidden;
  padding: 20px;
  margin: auto;
}
.pojo-feedback-modal .modal-wrapper .modal-inner h1 {
  text-transform: uppercase;
}
.pojo-feedback-modal .modal-wrapper .modal-inner .radio-group {
  text-align: justify;
  max-width: 200px;
  margin: 10px auto;
}
.pojo-feedback-modal .modal-wrapper .modal-inner .radio-group label {
  display: block;
  margin-bottom: 3px;
}
.pojo-feedback-modal .modal-wrapper .modal-inner .feedback-comment {
  margin-bottom: 15px;
}
.pojo-feedback-modal .modal-wrapper .modal-inner .feedback-comment textarea {
  width: 100%;
  box-sizing: border-box;
  padding: 12px;
}
/*= Responsive
---------------------------------------*/
@media (min-width: 1280px) and (max-width: 1600px) {
  #page-builder #pb-rows .pb-row {
    padding: 10px 20px 20px 10px;
  }
  #page-builder #pb-rows .pb-row .pb-advanced-columns {
    margin: 0 -5px;
  }
  #page-builder #pb-rows .pb-row .pb-advanced-columns .pb-advanced-column {
    padding: 0 5px;
  }
  #page-builder #pb-rows .pb-row .pb-advanced-columns .pb-advanced-column .pb-widget-columns {
    padding: 5px 0 0;
    min-height: 50px;
  }
  #page-builder #pb-rows .pb-row .pb-advanced-columns .pb-advanced-column .pb-remove-column-action .pb-remove-column {
    line-height: 50px;
  }
  #page-builder #pb-rows .pb-row .pb-widget {
    margin-bottom: 5px;
  }
}
@media (max-width: 1280px) {
  #page-builder .pb-advanced-column.pb-column-1 .pb-toggle .pb-current-size,
  #page-builder .pb-advanced-column.pb-column-2 .pb-toggle .pb-current-size,
  #page-builder .pb-advanced-column.pb-column-3 .pb-toggle .pb-current-size,
  #page-builder .pb-advanced-column.pb-column-4 .pb-toggle .pb-current-size,
  #page-builder .pb-advanced-column.pb-column-5 .pb-toggle .pb-current-size {
    display: none;
  }
  #page-builder .pb-advanced-column.pb-column-1 .pb-toggle .pb-action-toggle .dashicons,
  #page-builder .pb-advanced-column.pb-column-2 .pb-toggle .pb-action-toggle .dashicons,
  #page-builder .pb-advanced-column.pb-column-3 .pb-toggle .pb-action-toggle .dashicons,
  #page-builder .pb-advanced-column.pb-column-4 .pb-toggle .pb-action-toggle .dashicons,
  #page-builder .pb-advanced-column.pb-column-5 .pb-toggle .pb-action-toggle .dashicons {
    padding: 2px;
  }
  #page-builder .pb-advanced-column.pb-column-1 .pb-widget-title h4.pb-title-tools,
  #page-builder .pb-advanced-column.pb-column-2 .pb-widget-title h4.pb-title-tools,
  #page-builder .pb-advanced-column.pb-column-3 .pb-widget-title h4.pb-title-tools,
  #page-builder .pb-advanced-column.pb-column-4 .pb-widget-title h4.pb-title-tools,
  #page-builder .pb-advanced-column.pb-column-5 .pb-widget-title h4.pb-title-tools {
    font-size: 10px;
    padding-top: 11px;
  }
  #page-builder .pb-advanced-column.pb-column-1 .pb-widget-title h4.pb-title-tools a,
  #page-builder .pb-advanced-column.pb-column-2 .pb-widget-title h4.pb-title-tools a,
  #page-builder .pb-advanced-column.pb-column-3 .pb-widget-title h4.pb-title-tools a,
  #page-builder .pb-advanced-column.pb-column-4 .pb-widget-title h4.pb-title-tools a,
  #page-builder .pb-advanced-column.pb-column-5 .pb-widget-title h4.pb-title-tools a {
    display: block;
  }
  #page-builder .pb-advanced-column.pb-column-1 .pb-widget-title h4.pb-title-tools .pb-separator,
  #page-builder .pb-advanced-column.pb-column-2 .pb-widget-title h4.pb-title-tools .pb-separator,
  #page-builder .pb-advanced-column.pb-column-3 .pb-widget-title h4.pb-title-tools .pb-separator,
  #page-builder .pb-advanced-column.pb-column-4 .pb-widget-title h4.pb-title-tools .pb-separator,
  #page-builder .pb-advanced-column.pb-column-5 .pb-widget-title h4.pb-title-tools .pb-separator {
    display: none;
  }
  #page-builder #pb-rows .pb-row {
    padding: 10px 20px 20px 10px;
  }
  #page-builder #pb-rows .pb-row .pb-advanced-columns {
    margin: 0 -5px;
  }
  #page-builder #pb-rows .pb-row .pb-advanced-columns .pb-advanced-column {
    padding: 0 5px;
  }
  #page-builder #pb-rows .pb-row .pb-advanced-columns .pb-advanced-column .pb-widget-columns {
    padding: 5px 0 0;
    min-height: 50px;
  }
  #page-builder #pb-rows .pb-row .pb-advanced-columns .pb-advanced-column .pb-remove-column-action .pb-remove-column {
    line-height: 50px;
  }
  #page-builder #pb-rows .pb-row .pb-widget {
    margin-bottom: 5px;
  }
  body:not(.sticky-menu) #page-builder #pb-rows .pb-row {
    padding: 6px 18px 20px 6px;
  }
  body:not(.sticky-menu) #page-builder #pb-rows .pb-row .pb-advanced-columns {
    margin: 0 -3px;
  }
  body:not(.sticky-menu) #page-builder #pb-rows .pb-row .pb-advanced-columns .pb-advanced-column {
    padding: 0 3px;
  }
}
@media (max-height: 800px) {
  #admin-visual-editor-preview-iframe .text-editor-wrap {
    margin-top: 0;
  }
}
