@media (max-width: 767px){
    .doctor_banner li {
        position: absolute;
        z-index: 999;
        list-style: none;
    }
.next-button {
    margin-top: 10px;
}
    .next-button a{
          display:block;
    }
.doctor_name {
    bottom: 25%;
    right: 10%;
}

.doctor_type {
    bottom: 33%;
    
    right: 10%;
    font-size: 12px;
    
}
    
.rating {
    bottom:15%;
    right:10%;
        width: 40%;
}
div#sgcboxLoadedContent p {
    line-height: 18px;
}
    body.page-id-13{
        background-position: 44% 100%;
    }
    .doctor_banner {
        position: relative;
        font-weight: bold;
        color: #022D75;
    }

    .doctor_info li {
        list-style: none;
        background: white;
        padding: 10px;
        min-height: 46px;
        padding-right: 25px;
        vertical-align: sub;
        color:#6B6B6B;
    }
    body.single-doctors {
        background: #E3F4FA;
    }
    .doctor_info li a {
        vertical-align: middle;
    }
    .doctor_info ul {
        margin:0;
        padding:0;
    }

    .doctor_info li:nth-of-type(2n) {
        background: #E3F4FA;
    }

    .doctor_info {
        background: white;
    }
    .single-doctors #primary #content #main {
        padding: 0;
        margin:0;
    }
    
    #primary #content #main {
        margin-top:0px;
    }
    .page-id-13 #primary #content #main{
            margin-top: 95px;
    }
    .single-doctors #primary #content {
        margin-bottom:0;
        margin-top:0;
    }
    .doctor_bar li {
    list-style: none;
    display: inline-block;
    font-size: 12px;
    padding: 10px;
    border-right: 1px solid #288DAA;
    }

    .doctor_bar li:first-of-type {
        border-right: none;
    }
    .page-id-362 .sf-filter {
        background-color: #0076AB;
    }
    .page-id-362 .sf-element input,.page-id-362 .sf-element select {
     background: white;
     color: black;    
    }
    article#post-375 .pojo-image-text img {
        background: rgb(255, 255, 255);
        border: 3px outset #E2E2E2;
        padding: 5px;
        width: 60px;
        vertical-align: super;
        border-radius: 20px;
        margin-top: 15px;
        margin-right: 10px;
    }
    #post-375 a.button.size-medium {
        padding: 5px !important;
        box-shadow: 0 0 2px 2px #8AEBF4;
        color: #FFF5DF !important;
        font-size: 12px !important;
        background: #12C4A3 !important;
    }
    .single_search .price {
        display: none;
    }
    body{
        color: white;
    }
    body.page-id-98 {
        color: #003473;
    }
    #sgcboxContent {
        color: black;
    }
    .doctor_bar ul {
        padding: 0;
        margin: 0;
            background: #022D75;
    }
    .small-btn.medpay-dashboard-btn {
    width: 25%;
    }
        ul.sf-result h3 {
        font-size: 12px;
        color: #505050;
    }
    .wpas-help-block{
        display:none;
    }
    .small-btn.medpay-dashboard-btn img {
    /* height: 63px !important; */
    }
    .unclickable {
    position: absolute;
    height: 100px;
    z-index: 9999;
    top: 0;
    width: 100%;
    }
    div#pojo-scroll-up {
    display: none !important;
}
    .single-ticket  .wpas-user-profile, .wpas-form-group,button.wpas-btn.wpas-btn-default{
        display:none;
    }
    .single-ticket  .wpas-form-group,  .single-ticket button.wpas-btn.wpas-btn-default{
        display:block;
    }
    
    
    .single-ticket .wpas-table {
        text-align: right;
    }

.single-ticket .wpas-table.wpas-ticket-replies {
    color: #22FFD6;
}
    .single-ticket .wpas-ticket-details-header {
        border-bottom: 2px solid #3FBFEE;
        color: white;
    }
    .pas-form-control{
        display:block !important;
        background:#505050;
    }
}
h3 {
    color: #00A8DC;
}