/* Custom CSS By Tomer */
body, #header{
    background: #022D75;
}
#header{
    
  //  padding-bottom: 5px;
      border:none;
    margin-bottom: 0;
    
    
}

.page-header-title{
    background-color: #13c4a3;
}
a, .entry-meta {
    color: #40c0ef;
}
@media (max-width: 767px){
    .page-id-315 h2 {
    color: #FFFFFF;
    font-size: 18px;
    text-shadow: 1px 1px black;
}
    .small-btn.medpay-dashboard-btn {
    width: 72px;
    padding: 5px;
}
    body {
    background: #0076AB;
}
    div#page-header {
    display: none;
}
    .logo-img {
        display: block;
        width: 80%;
    }
    .logo-img-primary {
        
        width: 100px;
        margin: 0 auto;
        display: block;
        padding-bottom: 15px;
        
    }
    
    .home-img {
        
        float: left;
        width: 10%;
        margin-top: 10px;
        margin-bottom: 10px;
        
    }
    
    /* don't show home button on login page (first page) */
    .page-id-2 .home-img {
        
        visibility: hidden;
        
    }
    
    /* don't show back arrow (right arrow) on login page (first page) */
    .page-id-2 i.fa.fa-arrow-right {
        
        display: none;
        
    }
    
    .home-btn-left{
        width: 10%;
        display: none !important;
        margin-top: 12px;
    }
    .home-img-primary {
        width: 22px;
    }
    .logo {
        margin: 0 !important;
    }
    .custom-input-div, .submit_lgn{
        margin: 0;
        padding: 0 !important;
        margin-top: 10px;
    }
    input.ewd-feup-submit.ewd-feup-login-submit.feup-pure-button.feup-pure-button-primary {
        width: 100%;
        border-radius: 5px;
        border: none;
        height: 43px;
    }
    .custom-input-div input {
        border-radius: 5px;
    }
    
.reg_a{

   border: 1px solid white;
   color: white;
   padding: 9px;
   display: block;
   text-align: center;
   border-radius: 5px;
   margin: 5px 0 5px 0 !important;
   font-size: 100%;
   font-family: Arial;
        
}

.link_p{
    
   font-size: 14px;
   margin-top: 20px;
   font-family: Arial !important;
    
}
    
div#ewd-feup-login {

    margin-bottom: 10px;
    
}
    .tvia .pojo-tab-content {
    border: none;
    background-color: transparent;
    }
    .tvia .nav-tabs {
    border-bottom: 1px solid transparent;
    }
    .tvia .pojo-tabs li {
    margin-left: 15px;
    }

.tvia .pojo-tabs li a {
    border-radius: 50%;
}
    
.tvia h4 {
        
    margin: 0;
    color: #003473;
    font-weight: normal;
    margin-top: 40px;
        
}
    
    .tvia label{
        color:black;
    }
    .page-id-98 {
    background-image: none;
    }
    
    #primary #content {
        margin-top: 0em;
        margin-bottom: 0em;
    }
    .page-id-98 #primary #content #main {
        margin-top: 10px;
    }
    .page-id-98 .logo-img {
        height: 0;
    }
    .tvia .nav-tabs>li.active>a, .tvia .nav-tabs>li.active>a:hover, .tvia .nav-tabs>li.active>a:focus {
    border-bottom-color: #ddd;
    }
    .tvia .form-actions div, .tvia .form-actions div button {
    width: 100% !important;
    border-radius: 3px !important;
    background: #13c4a3;
    color: white;
    border-color: #13c4a3;
    vertical-align: middle;
    font-family: monospace;
    font-size: 120%;
    }
    #copyright {
    background-color: #0076AB;
    }
    
    .medpay-dashboard-btn {
        padding: 10px 20px;
    }
    .tvia .pojo-tabs li {
    margin-left: 11px;
    min-width: 44px;
}
.tvia .pojo-tabs li.active {
    border: 2px solid #00C4A3;
    border-radius: 100%;
    font-size: 17px;
    font-family: inherit;
    text-align: center;
    line-height: 26px;
}

.pojo-form .field.size-small{line-height: 2.7em;/*line-height: normal;*/}
    
/* make radio btns selections  on one line */    
.page-id-98 .pojo-form .field-group.field-list-inline .field-list-item {
    
    display: inline-block;
    font-size: 80%;

}
    
#form-field-1-1-1{
    background-color: rgb(0,196,163);
   /*  background: url(gr_custom-inputs.png) 0 -1px no-repeat; */
        
    height: 16px;
    padding: 0 0 0 18px;
    
    }
    
.page-id-98 .nav.nav-tabs.pojo-tabs{
  
 // background-image: url('assets/images/medpay1.png');
    z-index: 99;
}    
    
/* header of tofes personal details */    
#pojo-tab-item-1-0 h4{
    
     font-weight: bold !important;

}
    
.page-id-98 .logo-img img{

    display: none;
    
}
    
.page-id-98 .logo {

  color: white;
  text-align: center;
    
      
}
    
.nav.nav-tabs.pojo-tabs ul{

    margin-left: 20px;
    
    }
        
ul.nav.nav-tabs.pojo-tabs li.active a{background-color: rgb(0,196,163);color: white;}
    
ul.nav.nav-tabs.pojo-tabs li a{background-color: white;color: white;width: 46px;height: 46px;}    
    
.tvia .pojo-tabs li a {
    border-radius: 50%;
    border: 2px solid #DDDDDD;
}
    
.mafrid_elion{
    position: absolute;
    line-height: 50%;
    content: "---------------------------";
    height: 25px;
    z-index: -1;
    border-bottom: 2px solid #E6E6E5;
    width: 240px;
    margin-right: 30px;
}
    
#tabs_desc{
    
    position: absolute;
    padding-right: 0px;
    font-size: 80%;
    text-align: center;
    line-height: 15px;
    margin-right: 2px;
    
}

/* div and Text under the tabs */    
#tabs_desc div {

    display: inline-block;
    padding: 0;
    margin: 0;
    width: 54px;
    padding-top: 55px;
    vertical-align: top;
  
}

.second_on .second_form{
    
        display: block;
    
}
    
 .second_form{
    
    display: none;
    
}



/* display labels of fields on all tabs to none */    
label.label-field {
    display: none !important;
}

/* not to show the php the_title() on default, only on specific pages by page-id-xx which are defined in css */
    
.logo_php{

    display:none;

}
    
.page-id-98 .logo_php{
    width: 150px;
    height: 24px;
    font-size: 130%;
    margin: 0 auto;
    display: block;
    margin-top: 10px;
}
    
#form-field-1-2{

 /*   margin-top: 15px; */
    
}
    
.datepicker input{
    background-image: url('assets/images/calendar-picture.png');
    background-repeat: no-repeat;
    background-position: 5% 50%;
    background-size: 12%;
}    
    
    

.button{
    
    padding: 10px !important;
    font-size: 105% !important;   

}
    
    
/* SECOND TAB HERE */
    
.textarea_tiur_irua textarea{

    line-height: normal !important;
    
}
    
    
#form-field-2-3{

    margin-bottom: 10px;

}
    
/*  show label for האם מחלה קיימת  */
.field-group.form_field_4.column-12.field-list-inline .label-field{
    
   display: inline-block !important;
   font-weight: normal;
   font-size: 90%; 
    
}

/*  show label for סוג שירות בטאב 3 */    
.sug-sherut label{
    
    display: inline-block !important;
    font-weight: normal !important;


}
    
.page-id-98 .field-list-items {

    display: inline-block !important;
    
}
    /* last field before hemsheh btn on tab 2 */
.field-group ongoing_desease.form_field_4.column-12.field-list-inline{
    
    padding-bottom: 10px;
    
    }
    
    
.colorbox1 #sgcboxClose {
    
    position: absolute;
    bottom: 0;
    right: 100px;
    background: none;
    width: 25px;
    height: 25px;
    text-indent: 0;
    
}
    
    
/* ------------------rishum page ----------------- */
    
    
.feup-pure-control-group input {
    
    border-radius: 5px !important;
    width: 100% !important;
    height: 50px !important;
    margin-bottom: 0 !important;
    margin-top: 0 !important;
    
}
    
.feup-pure-form-aligned .feup-pure-control-group {
    
    padding: 5px !important;
        
}
    
.signed_up {
    
    font-family: cursive !important;
    font-weight: normal !important;
    font-size: 100%;
    border: 1px solid white !important;
    padding: 10px !important;
    border-radius: 5px;
    font-family: Arial !important;
    
}
    
    /* jquery password checks */
    
.feup-pure-control-group label {
    
    display: none !important;
    
}  
    
#ewd-feup-password-result{ display: none !important;}
    
.ewd-feup-submit {
    
    border: none !important;
    
}  
    
        /* -- Login page --  */    
    
.welcome-text {
    
    padding-right: 5px;
    color: white;
    display: block !important;
    text-align: center;
    font-family: Arial;
    font-size: 115%;
    
}
    
.login_lables{
    
    display: none;    
    
}
    
/* hide all fields initially  */
    
page-id-98 .wpas-form-group, page-id-98 .wpas-form button{

    display:none;
    
}    
    
/*make these field in hagashat tvia wide and on one line each */
    
input, button, select, textarea {
    
    display: block;
    width: 100%;
    
}
    
button , input[type="submit"], .button, .button.size-small, .button.size-large {
    
    padding: 0;
    
}
     
#more_exp{display: none;} /* more_exp is a link that is supposed to be only in tab 4  */
    
    
/*  on first tab show only fields that are from first tab */
    
#wpas_התביעה_על_שם_wrapper{display: inline-block; font-weight:normal; font-size:90%; width:100%;}     
#wpas_שם_מלא_wrapper {display: block;}
#wpas_ת_ז_wrapper {display: block;}
#wpas_היכן_נרכשה_הפוליסה_wrapper {display: block;}
.wpas-radio{display: inline-block;} /* to see the selection inline */
#wpas_תאריך_יציאה_מהארץ_wrapper{display: block;}
    
.next-button{border-radius:5px !important;} /* כפטור המשך בהגשת אירוע */
    
/* hide the labels from all the tabs */    
/*#wpas-new-ticket label{visibility :hidden;}*/
    
.wpas-btn.wpas-btn-default{
    
    background-color: rgb(18,196,163);
    color: white;
    padding: 20px;
    margin-top: 20px;
    border-radius: 10px;
    border: none;
    
}
    
/* hide labels in registration page */    
.wppb-form-field.pbpl-class .wppb-description-delimiter {
    
    display: none;
    
}   

/* define font for login page */    
#container.wide .container {
    
    font-family: Arial;
    
}

.text-input{

    padding: 10px !important;
    
}    

/* remove labels from login page */
form#loginform label {
    
    display: none;
    
}
    
.wppb-user-forms ul li, #wppb-login-wrap p, #select_user_to_edit_form p {
    
    padding-bottom: 0;
    
}
    
/*button, */ input[type="submit"], .button, .button.size-small, .button.size-large {
    
    width: 100%;
    background-color: rgb(18,196,163);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    padding: 17px !important;
    font-family: monospace;
    color: white;
    border: none;
    
}
    
/* remove the checkbox of  שלח פרטי התחברות לאימייל in registration page */    
.wppb-form-field label, #wppb-login-wrap .login-username label, #wppb-login-wrap .login-password label {
    
    display: none;    
    
}
    
.link_p{
    
    font-size: 13px;
    color: white;
    font-family: Arial;

}
    
    
/* support link and text from registraion page */    
.support{
    
    color: white;
    font-family: Arial;
    
}
    
/* button register in registration page */    
#register{ 
    
    font-family: Arial;
    
}
    
/* space between fields in registraion form */    
.wppb-user-forms ul li, #wppb-login-wrap p, #select_user_to_edit_form p {
    
    overflow: hidden;
    margin: 0;
    margin-bottom: 14px !important;
    
}
    
    /* registration page open text on top */
.h6_class{
    
    text-align: center; 
    font-family: Arial;
    font-size: 115%;

}
 
/* space between last field and button hirashem on registration page */    
li.wppb-form-field.wppb-send-credentials-checkbox:last-child {
    
    margin-bottom: 0 !important;
    
}
    
/* for registration page margins for hirashmu btn */    
ul, ol {
    
    margin-top: 0;
    margin-bottom: 3px;
    
}

input[type="text"], input[type="password"], input[type="email"] input[type="number"]{ border-radius: 5px;}
    
.wppb-user-forms input:not([type="button"]):not([type="reset"]):not([type="submit"]), .wppb-user-forms select, .wppb-user-forms textarea {
    
    border-radius: 5px;    
}

    /* login page submit btn styling  */    
input#wppb-submit {
    
    font-weight: 400;
    font-size: 110%;
    
}
       
/* background image for registration page */
 .page-id-43 , .page-id-2 {
     
    font-family: Arial;
    background-image: url('assets/images/background-medpay.jpg');
    background-size: cover;
     
}
    
    /*teudat zehut field in registration page */
.page-id-43 input#username {
    
    width: 100%;
    
}   
    
.page-id-2  .h6_class {
    
    margin-top: 15%;
    margin-bottom: 15%;
    
}
    
.migdal_icon{

    background-image: url('assets/images/migdal.png');
    background-repeat: no-repeat;
    background-size: 12%;
    background-position: center;
    height: 90px;

}       

/* home page */    
.push-icon{display:none;}
    
input#user_login, input#user_pass {
    
    padding: 10px;
}
    
    
/* daf rishum - terms of service  */    
input#takanon {
    
    display: inline-block;
    width: 20px;
    margin-top: 8px;
    float: right;
    margin-left: 5px;
    
}
    
 /* daf rishum - terms of service  */     
a#terms {
    
    display: inline-block;
    width: 45px;
    padding-bottom: 5px;
    
}
     
    /* ----------------------   DAF HIPUS ROFE ---------------------- */
    
.page-id-362 .sf-result-head {

    display: none;
            
}
    
.icon{
    
    float: right;
 //   border-bottom: 1px solid grey;
    width: 25%;
    height: 100px;
    color: black;
    background-color: white;
    padding-right: 5px;
    padding-top: 20px;
  //  background-color: #DDD;
    border-radius:100%;
    
}
    
.icon img {

    width: 45px;
    height: 45px !important;
    
}    

.wrapper_content {
    
    float: right;
    width: 67.5%;
  //  border: 1px solid grey;
    background-color: white;
 //    padding-right: 7px;
    height: 100px;
    
}
    
.appartment{ 

    display: inline-block;   
    font-weight: bold !important;
    color: #14205D;
    font-size: 90%;   
    width: 100%;
    font-family: Arial;
    
} 
    
.the_title{
    
    display: inline-block;
    font-size: 85%;
    color: black;
    font-family: Arial;
    padding:0;
    margin:0;
    width: 100%;
    
}
        
.rating{
    
    display: inline-block;
    color: red;
    font-size: 80%;  
    margin: 0;
    padding: 0;
    float: right;
    
    
}    
    
.rating img{

    width: 80px;
    height: 15px !important;
    color: orangered;
    
}
    
.range{
    display: inline-block;
    width: 105px;
    font-size: 75% !important;
    color: grey;
    height: 25px;
    width: 50%;
    padding-right: 5%;
    overflow: hidden;
}
    
.range img{

   width: 12px;
   height: 12px !important;
    
}
    
.range span{
 
    font-size: 68%;
   // border: 1px solid black;
    
}    
    
.range a{
    
    font-size: 65%;
    color: grey;
    font-weight: bold;
    font-family: Arial;

}
    
.lang {
    width: 70%;
    height: 25px;
    font-size: 75%;
    vertical-align: top;
    position: relative;
    top: -5px;
    /* border:  1px solid; */
}
    
.lang img{

    width: 12px;
    height: 12px !important; 
    
}    

.arrow_left {
    
    float: left;
    font-size: 200%;
    font-family: cursive;
    color: grey;
    padding-top: 10%;
    height: 100px;
    width: 5%;
    
}

.page-id-362 .sf-filter{
    
    background-color: #022D75;
    padding: 0px;
    padding-right: 5px;
    margin: 0;
    padding-bottom: 5px;
    padding-left: 5px;
    
}
#primary #content #main {
    margin-top: 45px;
    margin-bottom: 0px;
}
.page-id-362 #primary #content #main {
    
 margin-top: 0px; 
 margin-bottom: 0px; 
 background-color: white;
 padding:0;
     
}
    
/* remove border from the first found element in search page  */    
.page-id-362 .sf-result li:first-of-type{
    
    border-top: none !important;
    
}
   table#wpas_ticketlist {
    text-align: center;
}
    table#wpas_ticketlist th {
    text-align: center;
}
    .tab-content.pojo-tab-content {
    padding: 0;
}
    .page-id-300 .wpas-btn.wpas-btn-default,.page-id-300 #main,.single-ticket #main,.single-ticket .checkbox,.single-ticket .wpas-date-ago{
        display:none;
    }
    .single-ticket .wpas-human-date{
        display:block;
    }
    .single-ticket h3{
        color:white;
    }
.page-id-362 .sf-result li{
    
    border: none !important;
    background-color: white !important;
    display: block;
    height: 100px !important;
    border-top: 1px solid grey !important;
    padding-left: 10px;
    padding-right: 10px;

}

.alerted{
    border-color: red !important;
}
/* search module on search doctor page */
.page-id-362 .sf-element{margin-bottom: 5px; padding-right: 10px; padding-left:10px;}
    
/* labels in search module search page */
.page-id-362 .sf-element legend {
    
    color: white;
    font-size: 100%;
    
}
    
/* popup tab 4 hagashat tvia */    
.page-id-362 div#sgcboxLoadedContent p {
    
    padding-right: 10px;
    padding-top: 20px;
    
}

.page-id-362 a {
    
    color: grey;
}

.migdal_picture_dashboard {
    
    width: 100%;
    height: 15%;
    margin: 0px auto;
    background-image: url('assets/images/migdal.png');
    background-repeat: no-repeat;
    background-size: 9%;
    background-position: 50% 100%;
    display: block;
    
}
    
    .page-id-375 .pojo-button-wrap {
    margin: 8px;
    border-radius: 10px;
    border: 4px outset #828282;
}
    .logo-img {
    height: 50px;
}
    
/* KCS LOGO removed from all pages but the dashboard page */    
#copyright{

    display: none;

}
   h2 {
    color: #00BCEF;
   }
    .textwidget p,.image-text-body p,.entry-content p {
    color: white;
}
    
    
/*   PAGE IMPORTANT TELEPHONES */    
    
    /* align text on the left of the image */
.page-id-375 .pojo-image-text a{ float: right; padding-bottom: 5%;}    
    
 .page-id-375 p.image-text-description {
     
    width: 180px;
    float: left;
    text-align: right;
    padding-top: 15px;
     
}   
    
/* header back btn */
.back_btn {
    
    display: inline-block;
    float: right;
    margin-top: 3%;
    font-size: 120%;
    
}    
    
input#wpas_בחר_קובץ input#wpas_בחר_קובץ2, input#wpas_בחר_קובץ3, input#wpas_בחר_קובץ4, input#wpas_בחר_קובץ5, input#wpas_בחר_קובץ5, input#wpas_בחר_קובץ6, input#wpas_בחר_קובץ7, input#wpas_בחר_קובץ8, input#wpas_בחר_קובץ9, input#wpas_בחר_קובץ10{
    
    display: none;
    
}   
    
    
 .page-id-98 button.wpas-form-control{
     
     color: red;
     background-color: red;
     color: white;
     padding: 10px;    
     
 }
    
    
select.wpas-form-control {
    
    padding: 12px !important;
    border-radius: 5px !important;
    background-color: white !important;
    height:45px;
    
}    
    
 /* consultating with doctor page */
.page-id-346 .field_2_consultation input#form-field-1-2 {
    
     margin-top: 0;
}    
 /* consultating with doctor page */   
.page-id-346 .form-message.form-message-success {
    
    color: #f2b7b2 !important;
}    
    
    
/* #wpas_בחר_קובץ_wrapper{display:block !important;}
#wpas_בחר_קובץ_wrapper .button{display:block !important;}
*/    
#wpas_מספר_יחודי_wrapper{display: none !important;}    
     
    
  /* things to remove on submitting the project */ 
    
/* div over tabs */    
.unclickable{
    
    /* display: none !important; */
    /*border: 1px solid;*/
  
}
    
.productsDetailsIn .lightRow {
    display: none !important;
}
    .header.user-header {
    display: none !important;
}
    .homeLink {
    display: none !important;
}
    
    
/* page 315 neida klalit */
    
    
.page-id-315 .panel-group .panel-heading {
    
    background: #0076AB;
    
}

.page-id-315 .panel-body {
    
    color: white;
    background: #0076AB;
    
}
    
.page-id-315 a.panel-title{

    color: white;
   background: #0076AB;   
    
}
    
/* daf rofe*/
.doc_errors {
    
    color: black;
    width: 45%;
    margin-right: 15px;
    
}
    
.doc_result{
        
    color: #2FD232;
    display: none;
    font-weight: bold;
    font-size: 120%;
    margin-right: 100px;
    
}
        
.radar_img {
    
    position: absolute;
    width: 110px;
    height: 100px;
    vertical-align: middle;
    top: 100px;
    margin-right: 30%;
    margin-left: 30%;
    display: none;
}